
#title-navegation {
  border: solid 1px red;/* remova depois */
}
#title-navegation a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(69, 69, 69);
}
#title-navegation a:hover {
  color: black;
}
#mainContent {
  border: solid 1px blue; /* remova depois */
  margin-top: 50px;
  box-sizing: border-box;
}
